
.QMainWindow
{
	background: qradialgradient(cx:0.5, cy:0.5, radius: 0.8,
		stop:0 white, stop:1 #0ca0dd);
}

QMainWindow::separator {
	width: 0px;
}


QTextEdit#MainChat {
	background-color: white;
	/*background-image: url(db/mainchat.png);
	background-attachment: fixed;
	background-repeat: repeat;
	background-position: center */
}

TeamBuilder QTextEdit {
	border-radius: 5px;
	background-color: white;
}

QSlider::groove:horizontal {
	border: 1px solid #999999;
	height: 8px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #B1B1B1, stop:1 #c4c4c4);
	margin: 2px 2px 2px 2px;
}

QSlider::handle:horizontal {
	/*background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #3354e3, stop:1 #788de8);
	border: 1px solid #102eb0; 
	border-radius: 7px;*/
	width: 14px;
	image:url(db/Teambuilder/ScrollBall.png);
	margin: -8px 0; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
}

QSlider::sub-page:horizontal {
	border: 1px solid #0072b3;
	height: 8px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #00a2ff, stop:1 #80c2e8);
	margin: 2px 0;
}

TeamPokeButton {
	width: 127px;
	height: 61px;
	background: #9d9fa1;
}

/*TeamPokeButton:checked{
	background: #8683b0;
}*/

TeamBuilder QLabel#SmallText {
	font-family: Trebuchet MS;
	font-size: 10pt; 
	color: white;
	font-weight: normal;
}

TeamBuilder QLabel#NormalText {
	font-family: Trebuchet MS;
	font-weight: bold;
	font-size: 11pt;
	color: white;
}

TeamBuilder QLabel#BigText {
	font-family: Trebuchet MS;
	font-weight: bold;
	font-size: 12pt;
	color: white;
}

TB_Advanced QGroupBox::title {
	subcontrol-position: top left; /* position at the top center */
	padding: 0 3px;
	color: white;
	font-family: Trebuchet MS;
	font-weight: bold;
	font-size: 11pt;
}

TB_Advanced QLabel#SmallText {
	font-family: Trebuchet MS;
	font-size: 10pt; 
	color: white;
	font-weight: normal;
}

TB_Advanced QLabel#BigText {
	font-family: Trebuchet MS;
	font-weight: normal;
	font-size: 10pt;
	color: white;
}

TB_Advanced QRadioButton {
	color: #0ca0dd;
	font-family: Trebuchet MS;
	font-size: 10pt;
}

TB_Advanced QCheckBox {
	color: #0ca0dd;
	font-family: Trebuchet MS;
	font-size: 10pt;
}

TB_Advanced QRadioButton::indicator {
	/*even if theres no text here, it removes the older style so its cool*/
}

TB_PokemonDetail {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #a6a9a9 stop: 1 #5a5f63);
	border: 3px solid #c7c8c9;
	border-radius: 10px;
	width: 215px;
	height: 225px;
}

TB_PokemonButtons {
	background: white;
	border: 2px solid #9b9494;
	border-radius: 7px;
}

PokemonBoxButton {
	background: #07a7c9;
	color: white;
}

PokemonBoxButton::text {
	font-weight:bold;
}

PokemonBox {
	background: qlineargradient(x1: 0, y1: 0, x2:0, y2: 1, stop: 0 white, stop: 1 #9faeb3);
	border: 1px solid #059eba;
}


QProgressBar#TimeOut {
	font-family: LCD;
	font-weight: bold;
	font-size: 12pt;
    border: 1px solid black;
	width: 79;
	height: 21;
	background-color:black;
	text-align: center;
	color: white;
	border-radius: 7px;
}

QProgressBar#TimeOut::chunk{
	background-color: #55a8fc;
	width: 1px;
}

QProgressBar#LifePoints {
	border: 1px solid #353535;
	border-left: 0px;
	text-align: center;
}

QProgressBar#LifePoints::chunk{
	background-color: #1fc42a;
	width: 1px;
}

BaseBattleWindow {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #8f9294, stop: 0.5 #ccc9c9, stop: 1 #8f9294);
}

BaseBattleWindow QLabel#TrainerNick {
	font-weight: bold;
	color: #312f2f;
	font-size: 10pt;
}

BaseBattleWindow QLabel#PokemonNick {
text-transform: uppercase;
font-variant: small-caps; 
	font-weight: bold;
   font-family: Arial Rounded MT;
	font-size: 10pt;
}

BaseBattleWindow QLabel#PokemonLevel {
	font-weight: bold;
  font-family: Arial Rounded MT;
	font-size: 8pt;
}

QLabel#MyTrainerBox, QLabel#OppTrainerBox {
	height: 80px;
	width: 80px;
	background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #e9e8e8, stop: 0.5 #aeacac, stop: 1 #e9e8e8);
	border-radius: 8px
}

QLabel#MyTrainerBox {
	border: 1px solid #fa1111
}

QLabel#OppTrainerBox {
	border: 1px solid #16a7d6
}

AttackButton QLabel#AttackName, AttackButton QLabel#AttackPP{
	font-family: Trebuchet MS;
	font-weight: bold;
	font-size: 10pt;
}

AttackButton QLabel#AttackPP{
	color: white;
	padding-right: 5px;
}

PokeBallDescBox {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #f9f9f9, stop: 0.5 #e4e4e4, stop: 1 #f9f9f9);
	border: 1px solid #696565;
	border-radius: 5px;
}

PokeBallDescBox QLabel#PokeName {
	font-size: 11pt;
	text-transform: uppercase;
	font-family: "SignPainter'sGothicShadedSC JL";
}

PokeBallDescBox QLabel#PokeSpec {
	font-size: 10pt;
	font-weight: bold;
}

PokeBallDescBox QLabel {
	font-family: Trebuchet MS;
	font-weight: normal;
	font-size: 9pt;
}

BigOpenPokeBall {
	margin-bottom: -6px;
}

PokedexBody {
	border: 6px solid black;
	border-radius: 16px;
	background: qlineargradient(x1:0, y1:0, x2: 0, y2: 1, stop: 0 #ff5411, stop: 1 #f7ebe7);
	width: 547px;
	min-width: 547px;
	max-width: 547px;
}

PokedexBody TB_PokeChoice{
	/*background-color: #e3e1e1;*/
	/*background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 white, stop: 1 #a1a3a7);
	alternate-background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 white, stop: 1 #a1a3a7);*/
	selection-background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #e3e1e1, stop: 0.5 #5c5e5f);
	background-image: url(db/Teambuilder/PokeDex/gradient.png);
	background-repeat: repeat-xy;
	font-family: Trebuchet MS;
	/*text-transform: uppercase;*/
	font-size: 8pt;
}

Pokedex QLabel {
	font-family: Trebuchet MS;
}

PokedexBody QLabel#Separator {
	background: black;
	max-width: 5px;
	min-width: 5px;
	border-left: 1px solid #421605;
	border-right: 1px solid #421605;
}

/* The profile tab in the pokedex */
ProfileTab, StatTab, MoveTab {
	border: 0;
	padding-top: 5px;
	padding-left: 5px;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 white, stop: 1 #9faeb3);
}

StatTab QProgressBar {
	background: white;
	border: 1px solid #393737;
	height: 14px;
	text-align: center;
}

StatTab QProgressBar::chunk {
	width: 1px;
	background-color: #30c7ff;
}

PokedexBody QLabel#BlueHeader {
	border: 1px solid #b3b4b4;
	border-radius: 5px;
	background: #afeefb;
	font-family: Trebuchet MS;
	font-weight: bold;
	font-size: 14px;
	height: 23px;
	max-height: 23px;
	min-height: 23px;
	max-width: 86px;
}

PokedexBody QLabel#GreenHeader {
	border: 1px solid #b3b4b4;
	border-radius: 5px;
	background: #8bd6a6;
	font-family: Trebuchet MS;
	font-weight: bold;
	font-size: 14px;
	height: 23px;
	max-height: 23px;
	min-height: 23px;
	max-width: 86px;
}

PokedexBody QLabel#Title {
	font-family: Trebuchet MS;
	font-weight: bold;
	font-size: 14px;
}

PokedexBody QFrame#GreenBackground {
	border: 1px solid black;
	border-radius: 8px;
	background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0, stop: 0 #eefaed, stop: 1 #7bf967);
}

TB_PokemonBoxes QTabWidget::pane { /* The tab widget frame */
	border: 6px solid #0a9d9b;
	padding: 0;
	margin: 0;
	border-radius: 8px;
}

BattleWindow QTabWidget::pane {
	border: 3px solid #e2e1e1;
	padding: 0;
	margin: 0;
	border-radius: 8px;
}


Pokedex QTabWidget::tab-bar {
	alignment: center;
	bottom: -5px;
}

TB_PokemonBoxes QTabWidget::tab-bar {
	bottom: -3px;
}


Pokedex QTabWidget::pane {
	border: 2px solid #059eba;
	padding: 0;
	margin-bottom: 3px;
	margin-right: 3px;
	border-radius: 8px;
}


/* Style the tab using the tab sub-control. Note that
it reads QTabBar _not_ QTabWidget */
QTabBar::tab:top, QTabBar::tab:bottom {
	background: #bababa;
	border: 1px solid #676a6c;
	border-radius: 5px;
	height: 23px;
	min-width: 70px;
	padding: 2px;
}

QTabBar::tab::title {
	font-weight:bold;
	font-family:Trebuchet MS;
	font-size: 14px;
}

QTabBar::tab:selected , QTabBar::tab:hover{
	border-color: #077cff;
	background: #88bcf1;
}

QTabBar::tab:top:selected , QTabBar::tab:bottom:selected {
	/* expand/overlap to the left and right by 4px */
	margin-left: -2px;
	margin-right: -2px;
}

QTabBar::tab:top:first,QTabBar::tab:bottom:first {
	margin-left: 15px;
}

QTabBar::tab:top:last, QTabBar::tab:bottom:last {
	margin-right: 0px;
}

BaseChallengeWindow QLabel#Title {
	font-family: Trebuchet MS;
	font-size: 20px;
	font-weight: bold;
}

BattleWindow QStackedWidget {
	background: #9d9f9d;
}

/*
QTabBar::tab:left, QTabBar::tab:right {
	background: #bababa;
	border: 1px solid #676a6c;
	border-radius: 5px;
	min-height: 23px;
	width: 70px;
	padding: 2px;
}


 QTabBar::tab:left:selected , QTabBar::tab:right:selected {
	margin-top: -2px;
	margin-bottom: -2px;
}

QTabBar::tab:left:first,QTabBar::tab:right:first {
	margin-left: 0px;
}

QTabBar::tab:left:last, QTabBar::tab:right:last {
	margin-right: 0px;
}

 */


/*m_trainerInfo->setStyleSheet(
							 "background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,"
															  "stop: 0 #ABAFE5, stop: 1 #8588B2);"
								"border: 1px solid gray;"
								"border-radius: 10px"
							); */
/*m_winMessage->setStyleSheet(
								"background: qradialgradient(cx:0.5, cy:0.5, radius: 0.8,"
								"stop:0 white, stop:1 #bfbfbd);"
								"border: 1px solid gray;"
								"border-radius: 10px"
							);
*/
/*TeamBuilder QSlider::handle:horizontal {
	image:url(db/Teambuilder/ScrollBall.png);
	margin: 0px -8px;
	height: 23px;
}*/