.QMainWindow
{
	background: qradialgradient(cx:0.5, cy:0.5, radius: 0.8,
		stop:0 white, stop:1 #0ca0dd); 
}

/*=============================================*\*/

PokeButton {
    min-width: 180px;
}

TrainerMenu QLabel#avatar {
    background: #ffffff;
}

PokeEdit QFrame#pokemonFrame {
    background: #ffffff;
}

/*\*=============================================*/

Client QTextEdit {
	font-family: Tahoma;
}

Client QTreeWidget {
	font-family: Segoe UI Semibold;
	font-size: 12px;
}

Client QTreeWidget::branch:!has-children {
	border: 0px;
	width: 5px;
}

Client QListWidget::item {
	min-height: 22px;
}

Client QTreeWidget::item {
	min-height: 20px;
}

QTabWidget#MainChat::tab-bar {
    left: 5px; /* move to the right by 5px */
}

/* Style the tab using the tab sub-control. Note that
    it reads QTabBar _not_ QTabWidget */
QTabWidget#MainChat QTabBar::tab {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
                                stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
    border: 2px solid #C4C4C3;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width: 8ex;
    padding: 2px;
}

QTabWidget#MainChat QTabBar::tab:selected, QTabWidget#MainChat QTabBar::tab:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #fafafa, stop: 0.4 #f4f4f4,
                                stop: 0.5 #e7e7e7, stop: 1.0 #fafafa);
}

QTabWidget#MainChat QTabBar::tab:selected {
    border-color: #9B9B9B;
    border-bottom-color: #C2C7CB; /* same as pane color */
}

QTabWidget#MainChat QTabBar::tab:!selected {
    margin-top: 2px; /* make non-selected tabs look smaller */
}

/*
QMenuBar#MainChat{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 lightgray, stop:1 darkgray);
}

QMenuBar#MainChat QMenu {
	background: darkgray;
}

QMenuBar#MainChat QMenu::item:selected{
	background: lightgray;
	color: black;
}

QMenuBar#MainChat::item{
	background: transparent;
}

QMenuBar#MainChat::item:selected{
	background: darkgray;
}

QMenuBar#MainChat::item:pressed{
	background: #888888;
}*/

DockAdvanced#OwnWindow {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #8f9294, stop: 0.5 #ccc9c9, stop: 1 #8f9294);
}

QMainWindow::separator {
	width: 0px;
}


QTextEdit#MainChat {
	background-image: url(Themes/Classic/mainchat.png);
	background-attachment: fixed;
	background-repeat: repeat;
	background-position: center;
	background-color: white;
}

#Announcement {
	border-radius: 2px;
	border: 1px solid grey;
	font-size: 11px;
	background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0, stop:0 #cbe6f8, stop:1 #15abea);
	padding: 2px;
	text-align: center;
}

QSlider::groove:horizontal {
	border: 1px solid #999999;
	height: 8px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #B1B1B1, stop:1 #c4c4c4);
	margin: 2px 2px 2px 2px;
}

QSlider::handle:horizontal {
	/*background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #3354e3, stop:1 #788de8);
	border: 1px solid #102eb0; 
	border-radius: 7px;*/
	width: 14px;
	image:url(Themes/Classic/Teambuilder/ScrollBall.png);
	margin: -8px 0; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
}

QSlider::sub-page:horizontal {
	border: 1px solid #0072b3;
	height: 8px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #00a2ff, stop:1 #80c2e8);
	margin: 2px 0;
}

TeamPokeButton {
	width: 127px;
	height: 61px;
	background: #9d9fa1;
}

/*TeamPokeButton:checked{
	background: #8683b0;
}*/

TB_Advanced QGroupBox::title {
	subcontrol-position: top left; /* position at the top center */
	padding: 0 3px;
	color: white;
	font-family: Trebuchet MS;
	font-weight: bold;
	font-size: 13px;
}

TB_Advanced QLabel#SmallText {
	font-family: Trebuchet MS;
	font-size: 13px; 
	color: white;
	font-weight: bold;
}

TB_Advanced QLabel#BigText {
	font-family: Trebuchet MS;
	font-weight: bold;
	font-size: 12px;
	color: white;
}

TB_Advanced QRadioButton {
	color: #0ca0dd;
	font-family: Trebuchet MS;
	font-size: 12px;
}

TB_Advanced QCheckBox {
	color: #0ca0dd;
	font-family: Trebuchet MS;
	font-size: 12px;
}

TB_Advanced QRadioButton::indicator {
	/*even if theres no text here, it removes the older style so its cool*/
}

TB_PokemonDetail {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #a6a9a9 stop: 1 #5a5f63);
	border: 3px solid #c7c8c9;
	border-radius: 10px;
	width: 215px;
	height: 225px;
}

TB_PokemonButtons {
	background: white;
	border: 2px solid #9b9494;
	border-radius: 7px;
}

PokemonBoxButton {
	background: #07a7c9;
	color: white;
}
PokemonBoxButton:checked{
	background: #067D98;
	color: black;
}
PokemonBoxButton::text {
	font-weight:bold;
}

PokemonBox {
	background: qlineargradient(x1: 0, y1: 0, x2:0, y2: 1, stop: 0 white, stop: 1 #9faeb3);
	border: 1px solid #059eba;
}

QPushButton#PokemonTargetButton {
	min-height: 40px;
}


QProgressBar#TimeOut {
	font-family: LCD;
	font-weight: bold;
	font-size: 15px;
    border: 1px solid black;
	width: 79px;
	height: 21px;
	background-color:black;
	text-align: center;
	color: white;
	border-radius: 7px;
}

QProgressBar#TimeOut::chunk{
	background-color: #55a8fc;
	width: 1px;
}

QProgressBar#LifePoints {
	border: 1px solid #353535;
	border-left: 0px;
	min-height: 13px;
	height: 13px;
	max-height: 13px;
	text-align: center;
}

QProgressBar#LifePoints::chunk{
	background-color: #1fc42a;
	width: 1px;
}

BaseBattleWindow {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #8f9294, stop: 0.5 #ccc9c9, stop: 1 #8f9294);
}

BaseBattleWindow QLabel#TrainerNick {
	font-weight: bold;
	color: #312f2f;
	font-size: 12px;
}

BaseBattleWindow QLabel#PokemonNick {
text-transform: uppercase;
font-variant: small-caps; 
	font-weight: bold;
   font-family: Arial Rounded MT;
	font-size: 14px;
}

BaseBattleWindow QLabel#PokemonLevel {
	font-weight: bold;
  font-family: Arial Rounded MT;
	font-size: 10px;
}


PokeButton {
	min-height: 50px;
}


QLabel#MyTrainerBox, QLabel#OppTrainerBox {
	height: 82px;
	width: 82px;
	background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #e9e8e8, stop: 0.5 #aeacac, stop: 1 #e9e8e8);
	border-radius: 8px
}

QLabel#MyTrainerBox {
	border: 1px solid #fa1111
}

QLabel#OppTrainerBox {
	border: 1px solid #16a7d6
}

QLabel#AttackName, QLabel#AttackPP{
	font-family: Trebuchet MS;
	font-weight: bold;
	font-size: 13px;
}

QLabel#AttackPP{
	color: white;
	padding-right: 5px;
}

OldAttackButton{
	min-height: 45px;
}


PokeBallDescBox {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #f9f9f9, stop: 0.5 #e4e4e4, stop: 1 #f9f9f9);
	border: 1px solid #696565;
	border-radius: 5px;
}

PokeBallDescBox QLabel#PokeName {
	font-size: 13px;
     text-transform: uppercase;
	font-family: "SignPainter'sGothicShadedSC JL";
}

PokeBallDescBox QLabel#PokeSpec {
	font-size: 13px;
	font-weight: bold;
}

PokeBallDescBox QLabel {
	font-family: Trebuchet MS;

	font-weight: normal;
	font-size: 13px;
}

BigOpenPokeBall {
	margin-bottom: -6px;
}

PokedexBody {
	border: 6px solid black;
	border-radius: 16px;
	background: qlineargradient(x1:0, y1:0, x2: 0, y2: 1, stop: 0 #ff5411, stop: 1 #f7ebe7);
	min-width: 600px;
}

PokedexBody TB_PokeChoice{
	/*background-color: #e3e1e1;*/
	/*background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 white, stop: 1 #a1a3a7);
	alternate-background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 white, stop: 1 #a1a3a7);*/
	selection-background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #e3e1e1, stop: 0.5 #5c5e5f);
	background-image: url(Themes/Dratini Dreams/Teambuilder/PokeDex/gradient.png);
	background-repeat: repeat-xy;
	font-family: Trebuchet MS;
	/*text-transform: uppercase;*/
	font-size: 13px;
}

Pokedex QLabel {
	font-family: Trebuchet MS;
}

PokedexBody QLabel#Separator {
	background: black;
	max-width: 5px;
	min-width: 5px;
	border-left: 1px solid #421605;
	border-right: 1px solid #421605;
}

/* The profile tab in the pokedex */
ProfileTab, StatTab, MoveTab {
	border: 0;
	border-radius: 5px;
	padding-top: 5px;
	padding-left: 5px;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 white, stop: 1 #9faeb3);
}

StatTab QProgressBar {
	background: white;
	border: 1px solid #393737;
	height: 14px;
	text-align: center;
}

StatTab QProgressBar::chunk {
	width: 1px;
	background-color: #30c7ff;
}

PokedexBody QLabel#BlueHeader {
	border: 1px solid #b3b4b4;
	border-radius: 5px;
	background: #afeefb;
	font-family: Trebuchet MS;
	font-weight: bold;
	font-size: 13px;
	height: 23px;
	max-height: 23px;
	min-height: 23px;
	max-width: 86px;
}

PokedexBody QLabel#GreenHeader {
	border: 1px solid #b3b4b4;
	border-radius: 5px;
	background: #8bd6a6;
	font-family: Trebuchet MS;
	font-weight: bold;
	font-size: 13px;
	height: 23px;
	max-height: 23px;
	min-height: 23px;
	max-width: 86px;
}

PokedexBody QLabel#Title {
	font-family: Trebuchet MS;
	font-weight: bold;
	font-size: 13px;
}
/*
PokedexBody QFrame#GreenBackground {
	border: 1px solid black;
	border-radius: 8px;
	background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0, stop: 0 #eefaed, stop: 1 #7bf967);
} */

PokedexBody QLabel#Stat {
	font-size: 12px;
}

TB_PokemonBoxes QTabWidget#Modified::pane { /* The tab widget frame */
	border: 6px solid #0a9d9b;
	padding: 0;
	margin: 0;
	border-radius: 8px;
}

BattleWindow QTabWidget#Modified::pane {
	border: 3px solid #e2e1e1;
	padding: 0;
	margin: 0;
	border-radius: 8px;
}


Pokedex QTabWidget#Modified::tab-bar {
	alignment: center;
	bottom: -5px;
}

Pokedex QFrame#WeakResFrame {
	background: white;
	border-radius: 8px;
	border: 0;
}

StatTab QTabWidget::pane {
	border: 1px solid #696565;
	border-radius: 8px;
}

TB_PokemonBoxes QTabWidget#Modified::tab-bar {
	bottom: -3px;
}


Pokedex QTabWidget#Modified::pane {
	border: 2px solid #059eba;
	padding: 0;
	margin-bottom: 3px;
	margin-right: 3px;
	border-radius: 8px;
}

StatTab QTabWidget::tab-bar {
	left: 20px;
	bottom: -2px;
}

StatTab QTabBar::tab:selected {

}

StatTab QTabBar::tab {
	min-width: 100px;
}

TypeChart QTableWidgetItem{
	font-weight: bold;
}

/* Style the tab using the tab sub-control. Note that
it reads QTabBar _not_ QTabWidget */
QTabWidget#Modified > QTabBar::tab:top, QTabWidget#Modified > QTabBar::tab:bottom {
	background: #bababa;
	border: 1px solid #676a6c;
	border-radius: 5px;
	height: 23px;
	min-width: 90px;
	padding: 2px;
}

QTabWidget#Modified  > QTabBar::tab::title {
	font-weight:bold;
	font-family:Trebuchet MS;
	font-size: 14px;
}

QTabWidget#Modified > QTabBar::tab:hover{
	border-color: #077cff;
	color: white;
	background: #88bcf1;
}

QTabWidget#Modified > QTabBar::tab:selected {
	border-color: #077cff;
	color: white;
	background: #66ace1;
}

QTabWidget#Modified > QTabBar::tab:top:selected , QTabWidget#Modified > QTabBar::tab:bottom:selected {
	/* expand/overlap to the left and right by 4px */
	margin-left: -2px;
	margin-right: -2px;
}

QTabWidget#Modified > QTabBar::tab:top:first,QTabWidget#Modified > QTabBar::tab:bottom:first {
	margin-left: 15px;
}

QTabWidget#Modified > QTabBar::tab:top:last, QTabWidget#Modified > QTabBar::tab:bottom:last {
	margin-right: 0px;
}


BaseChallengeWindow QLabel#Title {
	font-family: Trebuchet MS;
	font-size: 20px;
	font-weight: bold;
}

#PlayerInfo {
	background: transparent;
	border: 0;
	padding: 0;
}


BaseChallengeWindow QLabel {
	color: black;
}

BattleWindow QStackedWidget {
	background: #9d9f9d;
}

/*
QTabBar::tab:left, QTabBar::tab:right {
	background: #bababa;
	border: 1px solid #676a6c;
	border-radius: 5px;
	min-height: 23px;
	width: 70px;
	padding: 2px;
}


 QTabBar::tab:left:selected , QTabBar::tab:right:selected {
	margin-top: -2px;
	margin-bottom: -2px;
}

QTabBar::tab:left:first,QTabBar::tab:right:first {
	margin-left: 0px;
}

QTabBar::tab:left:last, QTabBar::tab:right:last {
	margin-right: 0px;
}

 */


/*m_trainerInfo->setStyleSheet(
							 "background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,"
															  "stop: 0 #ABAFE5, stop: 1 #8588B2);"
								"border: 1px solid gray;"
								"border-radius: 10px"
							); */
/*m_winMessage->setStyleSheet(
								"background: qradialgradient(cx:0.5, cy:0.5, radius: 0.8,"
								"stop:0 white, stop:1 #bfbfbd);"
								"border: 1px solid gray;"
								"border-radius: 10px"
							);
*/
