QToolTip {
    color: black;
}

PokeButton {
    min-width: 170px;
    height: 85px;
}

PokeEdit #pokemonSprite {
	margin: 9px;
}

PokeEdit #itemSprite {
	margin: 9px;
}

PokeEdit #pokemonFrame {
	height: 110px;
	width: 110px;
	/*border-radius: 4px;*/
}

PokeSelection #pokemonSprite {
    min-width: 96px;
    min-height: 96px;
}

PokeBoxes QFrame#innerSelectedFrame #pokemonFrame {
    width: 96px;
    height: 96px;
    border: 0;
}
